.Anchor > span.WebWorks_Number
{
  text-indent: -18.0000283464567pt;
}

.Anchor > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Appendix_NumberTOC > span.WebWorks_Number
{
  text-indent: -36.0000566929134pt;
}

.Appendix_NumberTOC > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Appendix_TitleTOC > span.WebWorks_Number
{
  text-indent: -36.0000566929134pt;
}

.Appendix_TitleTOC > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Bullet > span.WebWorks_Number
{
  text-indent: -10.8pt;
}

.Bullet > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Bulleted > span.WebWorks_Number
{
  text-indent: -18.0000283464567pt;
}

.Bulleted > span.WebWorks_Number > *
{
  text-indent: 0;
}

.BulletEmDash > span.WebWorks_Number
{
  text-indent: -18.0000283464568pt;
}

.BulletEmDash > span.WebWorks_Number > *
{
  text-indent: 0;
}

.BulletIndent > span.WebWorks_Number
{
  text-indent: -10.0800283464567pt;
}

.BulletIndent > span.WebWorks_Number > *
{
  text-indent: 0;
}

.BulletIndentEmDash > span.WebWorks_Number
{
  text-indent: -18.000028346457pt;
}

.BulletIndentEmDash > span.WebWorks_Number > *
{
  text-indent: 0;
}

.BulletIndentSmall > span.WebWorks_Number
{
  text-indent: -10.0800283464567pt;
}

.BulletIndentSmall > span.WebWorks_Number > *
{
  text-indent: 0;
}

.BulletSmall > span.WebWorks_Number
{
  text-indent: -10.8pt;
}

.BulletSmall > span.WebWorks_Number > *
{
  text-indent: 0;
}

.BulletSmall-Chinese > span.WebWorks_Number
{
  text-indent: -10.8pt;
}

.BulletSmall-Chinese > span.WebWorks_Number > *
{
  text-indent: 0;
}

.caption > span.WebWorks_Number
{
  text-indent: -18.0000283464567pt;
}

.caption > span.WebWorks_Number > *
{
  text-indent: 0;
}

.CellBullet > span.WebWorks_Number
{
  text-indent: -14.4000283464567pt;
}

.CellBullet > span.WebWorks_Number > *
{
  text-indent: 0;
}

.CellNote > span.WebWorks_Number
{
  text-indent: -26.503937007874pt;
}

.CellNote > span.WebWorks_Number > *
{
  text-indent: 0;
}

.CellNumber1 > span.WebWorks_Number
{
  text-indent: -14.4000283464567pt;
}

.CellNumber1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.CellNumber2 > span.WebWorks_Number
{
  text-indent: -14.4000283464567pt;
}

.CellNumber2 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Chapter_NumberTOC > span.WebWorks_Number
{
  text-indent: -36.0000566929134pt;
}

.Chapter_NumberTOC > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Chapter_TitleLOP > span.WebWorks_Number
{
  text-indent: -18.000028346456702pt;
}

.Chapter_TitleLOP > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Chapter_TitleTOC > span.WebWorks_Number
{
  text-indent: -36.0000566929134pt;
}

.Chapter_TitleTOC > span.WebWorks_Number > *
{
  text-indent: 0;
}

.CommandListAPL > span.WebWorks_Number
{
  text-indent: -36.0000566929134pt;
}

.CommandListAPL > span.WebWorks_Number > *
{
  text-indent: 0;
}

.CommandListIndentAPL > span.WebWorks_Number
{
  text-indent: -36.0000566929134pt;
}

.CommandListIndentAPL > span.WebWorks_Number > *
{
  text-indent: 0;
}

.CommandListIndentLOP > span.WebWorks_Number
{
  text-indent: -36.0000850393701pt;
}

.CommandListIndentLOP > span.WebWorks_Number > *
{
  text-indent: 0;
}

.CommandListLOP > span.WebWorks_Number
{
  text-indent: -36.0000566929134pt;
}

.CommandListLOP > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Example_Title > span.WebWorks_Number
{
  text-indent: -18.0000283464567pt;
}

.Example_Title > span.WebWorks_Number > *
{
  text-indent: 0;
}

.FigureCaptionLOF > span.WebWorks_Number
{
  text-indent: -72.0001417322835pt;
}

.FigureCaptionLOF > span.WebWorks_Number > *
{
  text-indent: 0;
}

.FigureCaptionWideLOF > span.WebWorks_Number
{
  text-indent: -72.0001417322836pt;
}

.FigureCaptionWideLOF > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Footnote > span.WebWorks_Number
{
  text-indent: -18.0000566929134pt;
}

.Footnote > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Heading1_WHTOC > span.WebWorks_Number
{
  text-indent: -18.000028346456702pt;
}

.Heading1_WHTOC > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Heading1TOC > span.WebWorks_Number
{
  text-indent: -18.000028346456702pt;
}

.Heading1TOC > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Heading2_WHTOC > span.WebWorks_Number
{
  text-indent: -18.000056692913396pt;
}

.Heading2_WHTOC > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Heading2TOC > span.WebWorks_Number
{
  text-indent: -18.000056692913396pt;
}

.Heading2TOC > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Heading3TOC > span.WebWorks_Number
{
  text-indent: -18.000028346456702pt;
}

.Heading3TOC > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Index_TitleTOC > span.WebWorks_Number
{
  text-indent: -36.0000566929134pt;
}

.Index_TitleTOC > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Level1IX > span.WebWorks_Number
{
  text-indent: -10.8pt;
}

.Level1IX > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Level2IX > span.WebWorks_Number
{
  text-indent: -10.800028346456699pt;
}

.Level2IX > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Level3IX > span.WebWorks_Number
{
  text-indent: -10.800028346456702pt;
}

.Level3IX > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Note > span.WebWorks_Number
{
  text-indent: -29.3385826771654pt;
}

.Note > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered > span.WebWorks_Number
{
  text-indent: -18.0000283464567pt;
}

.Numbered > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered1 > span.WebWorks_Number
{
  text-indent: -18.0000283464567pt;
}

.Numbered1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.pa_parambullet > span.WebWorks_Number
{
  text-indent: -9.00002834645669pt;
}

.pa_parambullet > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Part_NumberTOC > span.WebWorks_Number
{
  text-indent: -36.0000566929134pt;
}

.Part_NumberTOC > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Part_TitleLOP > span.WebWorks_Number
{
  text-indent: -36.0000566929134pt;
}

.Part_TitleLOP > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Part_TitleTOC > span.WebWorks_Number
{
  text-indent: -36.0000566929134pt;
}

.Part_TitleTOC > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Step1 > span.WebWorks_Number
{
  text-indent: -18.000028346456702pt;
}

.Step1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Step10 > span.WebWorks_Number
{
  text-indent: -18.000028346456702pt;
}

.Step10 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Step1Small > span.WebWorks_Number
{
  text-indent: -18.000028346456702pt;
}

.Step1Small > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Step2 > span.WebWorks_Number
{
  text-indent: -18.000028346456702pt;
}

.Step2 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Step2Small > span.WebWorks_Number
{
  text-indent: -18.000028346456702pt;
}

.Step2Small > span.WebWorks_Number > *
{
  text-indent: 0;
}

.StepA > span.WebWorks_Number
{
  text-indent: -18.0000283464567pt;
}

.StepA > span.WebWorks_Number > *
{
  text-indent: 0;
}

.StepB > span.WebWorks_Number
{
  text-indent: -18.0000283464567pt;
}

.StepB > span.WebWorks_Number > *
{
  text-indent: 0;
}

.StepLetterBullet > span.WebWorks_Number
{
  text-indent: -10.799999999999997pt;
}

.StepLetterBullet > span.WebWorks_Number > *
{
  text-indent: 0;
}

.StepSingle > span.WebWorks_Number
{
  text-indent: -18.000028346456702pt;
}

.StepSingle > span.WebWorks_Number > *
{
  text-indent: 0;
}

.TableFootnote > span.WebWorks_Number
{
  text-indent: -10.8pt;
}

.TableFootnote > span.WebWorks_Number > *
{
  text-indent: 0;
}

.TableTitleLOT > span.WebWorks_Number
{
  text-indent: -72.0001417322835pt;
}

.TableTitleLOT > span.WebWorks_Number > *
{
  text-indent: 0;
}

.TableTitleWide > span.WebWorks_Number
{
  text-indent: -72.0001417322835pt;
}

.TableTitleWide > span.WebWorks_Number > *
{
  text-indent: 0;
}

.TableTitleWideLOT > span.WebWorks_Number
{
  text-indent: -72.0001417322836pt;
}

.TableTitleWideLOT > span.WebWorks_Number > *
{
  text-indent: 0;
}

.WritersNote > span.WebWorks_Number
{
  text-indent: -68.4001133858268pt;
}

.WritersNote > span.WebWorks_Number > *
{
  text-indent: 0;
}

